//Breakpoints
$screen-sm-max: 720px;
$screen-md-min: 1024px;
$screen-lg-min: 1280px;

//Mixins

//Media Queries
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}
@mixin md {
  @media (min-width: #{$screen-sm-max}) and (max-width: #{$screen-md-min}) {
    @content;
  }
}

body {
  background: radial-gradient(#25354a, #15202e);
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  text-shadow: 0px 3px 20px #00000025;
}

h3,
h4 {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 9rem;
  font-weight: 900;
  margin: 0.5rem 0;
  line-height: 9rem;
@include md {
  font-size: 6rem;
    font-weight: 900;
    margin: 0.5rem 0;
    line-height: 6rem;
}

}
h2 {
  font-size: 6rem;
  margin: 0.5rem 0;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
  color: #b8d638;
  margin-top: 0rem;
}

p {
  font-weight: 300;
  line-height: 1.7rem;
  font-size: 1.1rem;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: #b8d638;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border: solid 1px #b8d638;
  margin-top: 1rem;
  width: max-content;
  transition: 0.2s ease-in-out;
  margin-right: 1rem;
  &:hover {
    background-color: #b4d139;
    color: #223145;
}
}

.section {
  margin: 0 5rem;
  @include md {
  }
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: white;
}

.fp-section.fp-table,
.fp-slide.fp-table {
  width: unset;
  max-width: 100%;
}

#menu li {
  display: inline-block;
  margin: 10px;
  color: #fff;
}
#menu li.active {
  color: #b8d638;
}
#menu li a {
  text-decoration: none;
  color: #fff;
}
#menu li.active a:hover {
  color: #b8d638;
}
#menu li:hover {
  color: #b8d638;
}
#menu li a,
#menu li.active a {
  padding: 2rem 0 0 0.5rem;
  display: block;
  font-size: 1.1rem;
  text-transform: uppercase;
}
#menu li.active a {
  color: #b8d638;
}
#menu {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  z-index: 70;
  width: 100%;
  margin: 0 5rem;
  right: 0;
  @include md {
    justify-content: flex-start;
    margin: 0 4rem;
    right: unset;
    padding: 0;
  }
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 0;
  height: 3px;
  width: 15px;
  margin: 0;
  left: unset;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 3px;
  width: 25px;
  margin: 0;
  border-radius: 0;
  background: #b8d639;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  height: 3px;
  width: 15px;
  margin: 0;
  background: #b8d639;
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: flex;
  justify-content: flex-end;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 15rem;
    @include md {
      margin-bottom: 20rem;
    }
}

.project {
  display: flex;
  margin: 0 4rem;
  @include md {
    flex-direction: column;
    margin: 0px 2px;
  }
  &__content {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include md {
     width: 100%;
    }
    h2 {
      white-space: nowrap;
      @include md {
        font-size: 3rem;
      }

    }
    p {
      padding-right: 1rem;
  
        }
  }
  &__image {
    width: 60%;
    z-index: -1;
    @include md {
      margin-top: 2rem;
      width: 100%;
     }

    img {
      width: 100%;
    }
  }
  p {
    @include md {
      margin-top: 0;
     }
  }
}

.featured {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;

  &__image {
    width: 55%;
  }
}

.about {
  &__content {
    width: 60%;
  }

  &__image {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  &__wrap {
    width: 130px;
    a {
      color: #fff;
    }
  }
}

.contact {
  width: 120%;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }

.fp-controlArrow.fp-next {
    right: 0;
    border-width: 30px 0 30px 20px;
  }
.fp-controlArrow.fp-prev {
  left: 0;
  border-width: 30px 20px 30px 0;
}

#fp-nav.fp-right {
 @include md {
  display: none;
 }
}